.nav-item .nav-link {
    border: 1px #f2f2f2 solid;
    background-color: #ffffff !important;
    height: 58px;
    border-radius: 10px;
    color: black;
}

.nav-item .active {
    border: double 2px transparent;
    background-image: linear-gradient(#ffffff, #ffffff),radial-gradient(circle at top, #006666, #006666);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
.active {
    color: #006666 !important;
}
.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    border-radius: 0px 8px 8px 0px !important;
}

.plus-icon {
    background-color: #F3F3F7;
    border: none;
    border-radius: 5px;
}

.btn-submited{
    background-color: #006666;
    color: #f2f2f2;
    width: 100%;
    height: 50px;
}

/* ซ่อน checkbox เดิม */
.custom-checkbox {
    display: none;
  }
  
  /* กำหนดลักษณะให้กับ checkbox ที่กำหนดเอง */
  .custom-checkbox + span::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  /* สีเมื่อเลือก */
  .custom-checkbox:checked + span::before {
    background-color: #4CAF50; /* หรือสีที่คุณต้องการ */
    border-color: #4CAF50; /* หรือสีที่คุณต้องการ */
  }
  
  .custom-checkbox:checked + span::after {
    content: '✔';
    position: absolute;
    top: 4px;
    left: 6px;
    color: white;
    font-size: 14px;
  }
  

















